<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYU Computer Science Course List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <h1>NYU CS Course List</h1>
    <div class="container">
        <a href="/"><button class="button">Home Page</button></a>
        <a href="/course_search"><button class="button">Course List</button></a>
        <a href="/view_comments"><button class="button">All Comments</button></a>
      
    </div>
    <h2><b>Course List</b></h2>


    <input id="searchInput"></input>

    <button class="button" onclick="sendEditRequest()"  > Search</button>


    <div class="container">
        <ul style="display: inline-block; text-align: left; margin: 10px;">
            {% for item in data %}
            <li style="margin: 8px; font-size: 20px;">
                <div>
                <b>{{ item.classTitle }}</b>
                <a href=/class/{{item._id}}><button class="button">Add comment</button></a>
                </div>
                  <div>
                {{ item.classNumber }}
                </div>
                 <div>
                {{ item.schedule }}
                </div>
            </li> 
            {% endfor %}
        </ul>
    </div>


       <script>
        function sendEditRequest() {

          const el = document.getElementById('searchInput');

          const search =  encodeURIComponent(el.value);
   
            window.location.href = '/course_search?q='+search;
       
        }
    </script>

</body>
</html>
