<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYU Computer Science Course Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <h1>NYU CS Course Search</h1>
    <div class="button_container">
        <a href="/"><button class="button">Home Page</button></a>
        <a href="/course_search"><button class="button">Course Search</button></a>
        <a href="/view_comments"><button class="button">All Comments</button></a>
    </div>
    <h2 style="text-align: center;"><b>Course List</b></h2>


          {% for item in data %}
   
        <li>
            <div>
            {{ item.classTitle }}
            <a href=/class/{{item._id}}><button class="button">Select</button></a>
            </div>
              <div>
            {{ item.classNumber }}
            </div>
             <div>
            {{ item.schedule }}
            </div>
            

        </li> 
        {% endfor %}
</body>
</html>
