<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>This is the delete comments page.</h1>

    <h3>Are you sure you want to delete</h3>
    <li>{{data.articleTitle}}</li>
           <li>{{data.classNumber}}</li>
       <li>{{data.schedule}}</li>

    <li> {{data.name}}</li>
    <li>{{data.text}}</li>



    <button onclick="sendDeleteRequest()"> DELETE </button>

    <script>
        function sendDeleteRequest() {
        console.log('Here');
            fetch(window.location.href, {
                method: 'DELETE'
            })
          .then(data => {
                window.location.href = '/view_comments';
            })
        }
    </script>


    <ul>
         <li>
    <a href="/"> Home Page</a> 
        </li>
        <li>
    <a href="/course_search"> Course Search</a> 
        </li>
        <li>
    <a href="/view_comments"> View Comments</a> 
        </li>
             <li>
    <a href="/delete_comments"> Delete Comments</a> 
        </li>
    </div>
</body>
</html>
