<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYU Computer Science Course List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <h1>NYU CS Course List</h1>
    <h2>Search and comment on your NYU CS classes</h2>
    <div class="home_nav">
        <h2>Select from the following:</h2>
        <a href="/course_search"><button class="big_button">Course List</button></a>
        <a href="/view_comments"><button class="big_button">All Comments</button></a>
      
        
    </div>
</body>
</html>
