<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYU Computer Science Course Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>

<body>
    <h1>NYU CS Course Search</h1>
    <div class="button_container">
        <a href="/"><button class="button">Home Page</button></a>
        <a href="/course_search"><button class="button">Course Search</button></a>
        <a href="/view_comments"><button class="button">All Comments</button></a>
    </div>

   <li> {{data.classTitle}}</li>
    <li>{{data.classNumber}}</li>
    <li>{{data.schedule}}</li>
    <li>{{data.notes}}</li>


   <h3>Comments</h3>

          {% for comment in  comments%}
   
        <li>
          <div>
              {{comment.name}}
          </div>
           <div>
              {{comment.text}}
          </div>
          
            

        </li> 
        {% endfor %}
   

    <h3>Add Comment</h3>

    <form id="commentForm" action="#" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br>

 
        <button type="submit">Submit</button>
    </form>
</body>
</html>
