<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYU Computer Science Course List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <h1>NYU CS Course List</h1>
    <div class="container">
        <a href="/"><button class="button">Home Page</button></a>
        <a href="/course_search"><button class="button">Course List</button></a>
        <a href="/view_comments"><button class="button">All Comments</button></a>
            
    </div>
    <h2>Comments</h2>
<div class="container">
    <ul style="display: inline-block; text-align: left; margin: 10px;">
       {% for comment in  data%}
        <li style="margin: 8px; font-size: 20px;">
          <div>
              <b>{{comment.articleTitle}}</b>
          </div>
            <a href=/delete_comments/{{comment._id}}><button class="button">Delete</button></a>
                <a href=/edit_comments/{{comment._id}}><button class="button">Edit</button></a>
          <div>
              {{comment.classNumber}}
          </div>
            <div>
              {{comment.schedule}}
          </div>
          <div>
              {{comment.name}}
          </div>
           <div>
              {{comment.text}}
          </div>
        </li> 
        {% endfor %}
    </ul>
</div>
</body>
</html>
