<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>This is the view comments page.</h1>
    <p>(Here will be a list of the users comments)</p>


       {% for comment in  data%}
   
        <li>
             <div>
              {{comment.articleTitle}}
          </div>
            <a href=/delete_comments/{{comment._id}}>Delete</a>
          <div>
              {{comment.classNumber}}
          </div>
            <div>
              {{comment.schedule}}
          </div>
          <div>
              {{comment.name}}
          </div>
           <div>
              {{comment.text}}
          </div>
            

        </li> 
        {% endfor %}


    <ul>
         <li>
    <a href="/"> Home Page</a> 
        </li>
        <li>
    <a href="/course_search"> Course Search</a> 
        </li>
        <li>
    <a href="/view_comments"> View Comments</a> 
        </li>
             <li>
    <a href="/delete_comments"> Delete Comments</a> 
        </li>
    </div>
</body>
</html>
