<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYU Computer Science Course Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
</head>
<body>
    <h1>NYU CS Course Search</h1>
    <div class="button_container">
        <a href="/"><button class="button">Home Page</button></a>
        <a href="/course_search"><button class="button">Course Search</button></a>
        <a href="/view_comments"><button class="button">All Comments</button></a>
    </div>
    <h2 style="text-align: center;">Comments</h2>
    <p style="text-align: center;">(Here will be a list of the user comments)</p>
    <div class="button_container">

    </div>
    
</body>
</html>
